In [1]:
import pickle
import numpy as np
import pandas as pd

## RDKit descriptors

In [2]:
rdkit_desc_df = pd.read_parquet("../../Git_doutorado/Dataset/rdkit_descriptors.parquet")

In [3]:
rdkit_desc_df.head()

,cid,exactmw,amw,lipinskiHBA,lipinskiHBD,NumRotatableBonds,NumHBD,NumHBA,NumHeavyAtoms,NumAtoms,...,chi0n,chi1n,chi2n,chi3n,chi4n,hallKierAlpha,kappa1,kappa2,kappa3,Phi
0,1,203.115758,203.238,5.0,0.0,5.0,0.0,4.0,14.0,31.0,...,9.071771,4.380117,1.478325,1.478325,1.174990,-1.10,12.900000,4.950243,7.544022,4.561296
1,2,204.123034,204.246,5.0,1.0,5.0,1.0,3.0,14.0,32.0,...,9.110736,4.399600,1.486279,1.486279,1.183861,-1.10,12.900000,4.950243,7.544022,4.561296
2,3,156.042259,156.137,4.0,3.0,1.0,3.0,3.0,11.0,19.0,...,5.636640,3.104812,1.473160,1.473160,0.858665,-1.13,7.971317,2.855750,1.470981,2.069463
3,4,75.068414,75.111,2.0,3.0,1.0,2.0,2.0,5.0,14.0,...,3.309021,1.652046,0.341112,0.341112,0.000000,-0.08,4.920000,2.175102,3.920000,2.140300
4,5,169.014009,169.073,6.0,4.0,4.0,3.0,4.0,10.0,18.0,...,5.057949,2.373303,0.621383,0.621383,0.215009,-0.26,9.740000,3.798894,5.869199,3.700123

## Kulik descriptors

In [4]:
kulik_desc_df = pd.read_parquet("../../Git_doutorado/Dataset/Kulik_descriptors.parquet")

In [5]:
kulik_desc_df = kulik_desc_df.reset_index(drop=True)

In [6]:
kulik_desc_df.head()

,cid,atomic_radii_lvl0,atomic_radii_lvl1,atomic_radii_lvl2,atomic_radii_lvl3,van_der_waals_radii_lvl0,van_der_waals_radii_lvl1,van_der_waals_radii_lvl2,van_der_waals_radii_lvl3,covalent_radii_lvl0,...,valence_e_lvl2,valence_e_lvl3,1st_ionization_energy_lvl0,1st_ionization_energy_lvl1,1st_ionization_energy_lvl2,1st_ionization_energy_lvl3,electronegativity_lvl0,electronegativity_lvl1,electronegativity_lvl2,electronegativity_lvl3
0,1,73350.0,88550.0,128425.0,152925.0,621341.0,697000.0,1136538.0,1482730.0,104850.0,...,499.0,507.0,4.096646e+13,4.024440e+08,5.319019e+13,3.727887e+13,197.376,196.246,353.176,449.602
1,2,73975.0,90050.0,130175.0,156175.0,635741.0,715240.0,1156938.0,1521370.0,106294.0,...,503.0,517.0,4.281564e+13,1.852246e+12,5.319021e+13,3.913073e+13,202.216,203.814,358.786,462.780
2,3,53700.0,64350.0,93750.0,105400.0,409916.0,462380.0,711024.0,906324.0,74371.0,...,372.0,430.0,2.221147e+13,5.555669e+12,5.558494e+12,2.035734e+13,131.570,131.356,204.548,277.974
3,4,28150.0,33800.0,43225.0,39575.0,263429.0,287830.0,438370.0,487310.0,41737.0,...,145.0,131.0,2.060951e+13,5.804800e+12,1.505076e+13,3.170681e+13,84.142,84.132,133.042,161.628
4,5,51925.0,60000.0,74275.0,68850.0,373845.0,400550.0,584474.0,612574.0,72845.0,...,403.0,300.0,2.727810e+13,1.336896e+13,2.718336e+13,3.260116e+13,131.434,119.388,203.486,209.052

## Joined datasets

In [7]:
joined_df = (
    kulik_desc_df
    .merge(rdkit_desc_df, on='cid')
)

In [8]:
joined_df.shape

(3332473, 68)

In [9]:
joined_df.dtypes

cid                    int64
atomic_radii_lvl0    float64
atomic_radii_lvl1    float64
atomic_radii_lvl2    float64
atomic_radii_lvl3    float64
                      ...
hallKierAlpha        float64
kappa1               float64
kappa2               float64
kappa3               float64
Phi                  float64
Length: 68, dtype: object

In [10]:
joined_df.to_parquet("../Datasets/joined_descriptors_df.parquet")

## Full data

In [11]:
joined_df.head()

,cid,atomic_radii_lvl0,atomic_radii_lvl1,atomic_radii_lvl2,atomic_radii_lvl3,van_der_waals_radii_lvl0,van_der_waals_radii_lvl1,van_der_waals_radii_lvl2,van_der_waals_radii_lvl3,covalent_radii_lvl0,...,chi0n,chi1n,chi2n,chi3n,chi4n,hallKierAlpha,kappa1,kappa2,kappa3,Phi
0,1,73350.0,88550.0,128425.0,152925.0,621341.0,697000.0,1136538.0,1482730.0,104850.0,...,9.071771,4.380117,1.478325,1.478325,1.174990,-1.10,12.900000,4.950243,7.544022,4.561296
1,2,73975.0,90050.0,130175.0,156175.0,635741.0,715240.0,1156938.0,1521370.0,106294.0,...,9.110736,4.399600,1.486279,1.486279,1.183861,-1.10,12.900000,4.950243,7.544022,4.561296
2,3,53700.0,64350.0,93750.0,105400.0,409916.0,462380.0,711024.0,906324.0,74371.0,...,5.636640,3.104812,1.473160,1.473160,0.858665,-1.13,7.971317,2.855750,1.470981,2.069463
3,4,28150.0,33800.0,43225.0,39575.0,263429.0,287830.0,438370.0,487310.0,41737.0,...,3.309021,1.652046,0.341112,0.341112,0.000000,-0.08,4.920000,2.175102,3.920000,2.140300
4,5,51925.0,60000.0,74275.0,68850.0,373845.0,400550.0,584474.0,612574.0,72845.0,...,5.057949,2.373303,0.621383,0.621383,0.215009,-0.26,9.740000,3.798894,5.869199,3.700123

In [12]:
mols_df = pd.read_parquet("../../Git_doutorado/Dataset/joined_data.parquet")

In [13]:
mols_df.head()

,isomeric_smiles,charge,total_dipole_moment,multiplicity,homo,lumo,gap,total_energy,TD_ET_00,TD_OS_00,...,TD_ET_05,TD_OS_05,TD_ET_06,TD_OS_06,TD_ET_07,TD_OS_07,TD_ET_08,TD_OS_08,TD_ET_09,TD_OS_09
cid,,,,,,,,,,,,,,,,,,,,,
1,CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C,0,12.362788,1,-4.655868,-0.302046,4.353822,-19287.579176,32381.393970,0.002393,...,37641.451596,0.006370,37976.268471,0.001117,38311.230525,0.001396,40062.494092,0.003212,40525.343416,0.002180
2,CC(=O)OC(CC(=O)O)C[N+](C)(C)C,1,5.855433,1,-11.066870,-3.551086,7.515785,-19299.202955,46441.291104,0.000402,...,58598.534406,0.005652,59362.010763,0.005563,60451.940025,0.002308,62136.396688,0.025338,62379.605110,0.017436
3,C1=CC(C(C(=C1)C(=O)O)O)O,0,5.266252,1,-6.821894,-2.239497,4.582397,-15575.874068,32576.410766,0.053438,...,46837.502902,0.004995,48214.775245,0.008408,48851.170886,0.003279,50890.898644,0.046370,51729.941085,0.009966
4,CC(CN)O,0,2.681395,1,-6.187869,1.847653,8.035522,-6794.535860,45133.600212,0.003867,...,58571.208342,0.009868,60147.530252,0.014954,60319.624771,0.008397,60994.089781,0.004093,62458.026397,0.000847
5,C(C(=O)COP(=O)(O)O)N,0,8.447997,1,-7.270882,-1.529280,5.741602,-24256.843704,34507.648887,0.001015,...,50735.499802,0.000874,53071.087855,0.009599,54805.905776,0.025285,54979.815042,0.000488,55740.210361,0.013173

In [14]:
full_df = (
    joined_df
    .merge(mols_df, on='cid')
)

In [16]:
full_df.to_parquet("../Datasets/df_kulik_and_rdkit.parquet")